<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Элементы и формы</title>
</head>

<body>
    <div class="container elements">
        <section id="1">
            <div class="input_blocks">
                <div class="input_block">
                    <div class="label_input">
                        <h3>Text Field</h3>
                        <label for="" class="right ">Default</label>
                    </div>
                    <input type="text" value="email">
                </div>
                <div class="input_block">
                    <div class="label_input">
                        <h3>Text Field</h3>
                        <label for="" class="right ">Hover / Focus</label>
                    </div>
                    <input class="hover" type="text" value="This is pretty awesome">
                </div>
                <div class="input_block">
                    <div class="label_input">
                        <h3>Dropdown</h3>
                        <label for="" class="right ">Default</label>
                    </div>
                    <div class="dropdown">
                        <p>Сколько гостей</p>
                        <p class="right">
                            <svg width="13" height="8" viewBox="0 0 13 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.3301 0.578125L12.7363 1.98438L6.73633 7.98438L0.736328 1.98438L2.14258 0.578125L6.73633 5.17188L11.3301 0.578125Z"
                                    fill="#1F2041" fill-opacity="0.5" />
                            </svg>
                        </p>
                    </div>

                </div>
                <div class="input_block">
                    <div class="label_input">
                        <h3>masked text field</h3>
                        <label for="" class="right ">Default</label>
                    </div>
                    <input type="text" value="ДД.ММ.ГГГГ">
                </div>
                <div class="date_dropdown_bloks">
                    <div class="min_bloks_dropdown">

                        <div class="date_dropdown">
                            <div class="label_input">
                                <h3>date Dropdown</h3>

                            </div>
                            <div class="dropdown">
                                <p>ДД.ММ.ГГГГ</p>
                                <p class="right">
                                    <svg width="13" height="8" viewBox="0 0 13 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M11.3301 0.578125L12.7363 1.98438L6.73633 7.98438L0.736328 1.98438L2.14258 0.578125L6.73633 5.17188L11.3301 0.578125Z"
                                            fill="#1F2041" fill-opacity="0.5" />
                                    </svg>
                                </p>
                            </div>
                        </div>
                        <div class="date_dropdown">
                            <div class="label_input">
                                <h3>date Dropdown</h3>

                            </div>
                            <div class="dropdown">
                                <p>19.08.2019</p>
                                <p class="right">
                                    <svg width="13" height="8" viewBox="0 0 13 8" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M11.3301 0.578125L12.7363 1.98438L6.73633 7.98438L0.736328 1.98438L2.14258 0.578125L6.73633 5.17188L11.3301 0.578125Z"
                                            fill="#1F2041" fill-opacity="0.5" />
                                    </svg>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input_block">
                    <div class="label_input">
                        <h3>filter date dropdown</h3>
                    </div>
                    <div class="dropdown">
                        <p>19 авг - 23 авг</p>
                        <p class="right">
                            <svg width="13" height="8" viewBox="0 0 13 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M11.3301 0.578125L12.7363 1.98438L6.73633 7.98438L0.736328 1.98438L2.14258 0.578125L6.73633 5.17188L11.3301 0.578125Z"
                                    fill="#1F2041" fill-opacity="0.5" />
                            </svg>
                        </p>
                    </div>

                </div>
                <div class="input_block">
                    <div class="label_input">
                        <h3>subscription text field</h3>
                    </div>
                    <input class="subscription" type="text" value="Email">
                    <div class="icon_mail_label">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z"
                                fill="url(#paint0_linear)" />
                            <defs>
                                <linearGradient id="paint0_linear" x1="9" y1="-13" x2="9" y2="31"
                                    gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#BC9CFF" />
                                    <stop offset="1" stop-color="#8BA4F9" />
                                </linearGradient>
                            </defs>
                        </svg>

                    </div>
                </div>

            </div>
    </div>
    <div class="check_block">

    </div>
    <div class="button_block">

    </div>
    </section>
    <section id="2"></section>
    <section id="3"></section>
    <section id="4"></section>
    </div>
</body>

</html>